.product-lists-item {
  width: 1920px;
  height: 377px;
  position: relative;
  background: linear-gradient(
    177.38deg,
    rgba(0, 141, 218, 0.54),
    rgba(65, 201, 226, 0.85) 28.5%
  );
  display: none;
  max-width: 100%;
  z-index: 0;
}
.savings-label-child,
.savings-label-inner,
.savings-label-item {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 57px;
  height: 5px;
  z-index: 5;
}
.savings-label-inner,
.savings-label-item {
  top: 17px;
}
.savings-label-inner {
  top: 34px;
}
.savings-label {
  width: 52px;
  height: 39px;
  position: relative;
}
.savings-label-wrapper {
  width: 176px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16xl) 0 0;
  box-sizing: border-box;
}
.pricewisecom3,
.sign-up3 {
  position: relative;
  white-space: nowrap;
}
.pricewisecom3 {
  margin: 0;
  width: 551px;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 6;
}
.sign-up3 {
  text-decoration: underline;
  align-self: stretch;
  text-transform: capitalize;
  font-weight: 700;
  color: inherit;
  z-index: 5;
}
.sign-up-frame {
  width: 88px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
}
.frame-inner {
  width: 1px;
  height: 40px;
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 5;
}
.line-container {
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.login-icon2 {
  height: 65px;
  width: 65px;
  position: relative;
  z-index: 5;
}
.frame-parent2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-header,
.frame-parent2,
.frame-wrapper4 {
  display: flex;
  align-items: flex-start;
}
.frame-wrapper4 {
  width: 201px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
  font-family: var(--font-arial);
}
.frame-header {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-junge);
}
.maximize-your-savings2 {
  text-decoration: none;
  width: 175px;
  position: absolute;
  margin: 0 !important;
  top: 106px;
  left: 872px;
  text-transform: capitalize;
  display: flex;
  font-style: italic;
  font-weight: 300;
  color: inherit;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.search-bar-inner {
  height: 39px;
  width: 328px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.vector-icon1 {
  width: 15px;
  height: 15px;
  position: relative;
  z-index: 1;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
}
.search-items2 {
  text-decoration: none;
  flex: 1;
  position: relative;
  text-transform: capitalize;
  color: inherit;
  flex-shrink: 0;
  z-index: 1;
}
.vector-icon2 {
  height: 25px;
  width: 33.3px;
  position: relative;
  z-index: 2;
  margin-left: -36px;
}
.search-bar3,
.search-items-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
}
.search-items-group {
  width: 153.2px;
  padding: 0 var(--padding-10xs) 0 0;
}
.search-bar3 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  padding: var(--padding-9xs) var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-34xl-1);
  max-width: 100%;
  z-index: 5;
}
.save-at-over2 {
  margin: 0;
}
.save-at-over-container2 {
  flex: 1;
  position: relative;
  text-transform: capitalize;
  z-index: 5;
}
.save-at-over-100000-stores-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-47xl) 0 var(--padding-46xl);
  color: var(--color-black);
  font-family: var(--font-abhaya-libre-medium);
}
.frame-wrapper5,
.search-bar-parent1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.search-bar-parent1 {
  width: 328px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-wrapper5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.mask-group-icon12,
.mask-group-icon13,
.mask-group-icon14,
.mask-group-icon15,
.mask-group-icon16 {
  height: 90px;
  width: 90px;
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 90px;
  z-index: 1;
}
.coupons-logos {
  width: 718px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.coupons8,
.tokopedia3 {
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  min-width: 82px;
  z-index: 2;
}
.coupons8 {
  min-width: 59px;
  z-index: 1;
}
.coupons-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xs) 0 var(--padding-xs);
  font-size: var(--font-size-3xs);
}
.coupon-list-inner,
.tokopedia-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.coupon-list-inner {
  align-items: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.coupons9,
.shopee2 {
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  min-width: 60px;
  z-index: 1;
}
.coupons9 {
  font-size: var(--font-size-3xs);
  min-width: 58px;
}
.shopee-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 0;
  gap: var(--gap-10xs);
}
.coupons10,
.lazada2 {
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  min-width: 57px;
  z-index: 1;
}
.coupons10 {
  min-width: 54px;
}
.coupons-wrapper3,
.image-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.coupons-wrapper3 {
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 var(--padding-12xs);
  font-size: var(--font-size-3xs);
}
.image-container {
  flex-direction: column;
  padding: 0 var(--padding-mid) 0 0;
  gap: var(--gap-10xs);
}
.coupons11,
.zalora2 {
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  min-width: 50px;
  z-index: 1;
}
.coupons11 {
  font-size: var(--font-size-3xs);
  min-width: 53px;
}
.savings-label1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 0;
  gap: var(--gap-10xs);
}
.erafone2 {
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  min-width: 61px;
  z-index: 1;
}
.coupon-list,
.coupon-list-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.coupon-list {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.coupon-list-wrapper {
  width: 706px;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.coupons-logos-parent,
.frame-parent3 {
  flex-direction: column;
  justify-content: flex-start;
}
.coupons-logos-parent {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-6xs);
  max-width: 100%;
  color: var(--color-oldlace-100);
  font-family: var(--font-inter);
}
.frame-parent3 {
  width: 718px;
  gap: var(--gap-5xl);
}
.frame-parent3,
.product-lists-inner1,
.product-lists1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.product-lists-inner1 {
  width: 1772px;
  flex-direction: row;
  justify-content: center;
  color: var(--color-gray-200);
  font-family: var(--font-arial);
}
.product-lists1 {
  align-self: stretch;
  background: linear-gradient(
    177.38deg,
    rgba(0, 141, 218, 0.54),
    rgba(65, 201, 226, 0.85) 28.5%
  );
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-38xl) var(--padding-31xl) var(--padding-3xl)
    var(--padding-55xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-10xs);
  z-index: 4;
}
.mengapa-harus-berbelanja2,
.pricewise-membantu-anda2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.pricewise-membantu-anda2 {
  height: 76px;
  text-transform: capitalize;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.shop-now-button-inner {
  height: 32px;
  width: 113px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-cornflowerblue);
  display: none;
}
.shop-now2 {
  width: 81.5px;
  position: relative;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.shop-now-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.arrow-icon1 {
  height: 32px;
  width: 32px;
  position: relative;
  z-index: 1;
}
.login-title,
.shop-now-button2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.shop-now-button2 {
  border-radius: var(--br-xl);
  background-color: var(--color-cornflowerblue);
  padding: 0 0 0 var(--padding-7xs);
}
.login-title {
  padding: 0 var(--padding-11xs);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.promo-button,
.promo-button-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.promo-button {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.promo-button-wrapper {
  width: 570px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  text-align: justify;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.mengapa-harus-berbelanja-melal-group,
.promo-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.mengapa-harus-berbelanja-melal-group {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-12xl);
}
.promo-content {
  width: 583px;
  align-items: flex-start;
  padding: 0 0 var(--padding-30xl);
  box-sizing: border-box;
  min-height: 229px;
}
.image2 {
  height: 21.4px;
  width: 84.1px;
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.mask-group-icon17 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.unsplash1nzcjdo2hkq-icon2,
.unsplashj2-waqdckus-icon2 {
  position: absolute;
  top: 0;
  left: 241px;
  width: 173.2px;
  height: 175px;
  object-fit: contain;
  z-index: 2;
}
.unsplashj2-waqdckus-icon2 {
  top: 47.9px;
  left: 0;
  width: 263.7px;
  height: 239.7px;
  z-index: 3;
}
.image-grid {
  height: 287.6px;
  width: 414.2px;
  position: absolute;
  margin: 0 !important;
  bottom: -110.6px;
  left: -114px;
}
.item-airpod-propng2,
.item-hydroflaskpng2 {
  position: absolute;
  overflow: hidden;
  object-fit: contain;
  z-index: 2;
}
.item-airpod-propng2 {
  top: 28px;
  left: 1091px;
  width: 96.1px;
  height: 98.3px;
}
.item-hydroflaskpng2 {
  height: calc(100% - 13.3px);
  top: 7px;
  bottom: 6.3px;
  left: 1253px;
  max-height: 100%;
  width: 117px;
}
.product-carousel-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 1875px;
  height: 14px;
  z-index: 3;
}
.product-carousel {
  height: 126.3px;
  width: 1875px;
  position: absolute;
  margin: 0 !important;
  top: -51px;
  left: -1146px;
}
.button-container {
  width: 203px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-117xl-7) var(--padding-17xl) var(--padding-102xl-9);
  box-sizing: border-box;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inria-serif);
}
.promo-container,
.promo-content-parent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.promo-content-parent {
  width: 914px;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.promo-container {
  width: 1822px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  font-family: var(--font-junge);
}
.background2,
.image-icon1 {
  position: relative;
  max-width: 100%;
}
.background2 {
  height: 279px;
  width: 1920px;
  background-color: var(--color-oldlace-200);
  display: none;
}
.image-icon1 {
  width: 371px;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.dengan-pricewise-uang2 {
  margin: 0;
  align-self: stretch;
  height: 76px;
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  z-index: 1;
}
.article-22,
.dengan-pricewise-uang-anda-ke-frame {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.dengan-pricewise-uang-anda-ke-frame {
  width: 440px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-27xl) 0 0;
  min-width: 440px;
}
.article-22 {
  align-self: stretch;
  background-color: var(--color-oldlace-200);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-32xl) var(--padding-494xl) var(--padding-28xl)
    var(--padding-479xl);
  gap: var(--gap-xl);
  text-align: justify;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.background-blur1 {
  width: 1920px;
  height: 1024px;
  position: relative;
  backdrop-filter: blur(10px);
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.input-form-child {
  align-self: stretch;
  height: 540px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-powderblue);
  display: none;
}
.multiply-icon1 {
  height: 28px;
  width: 28px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 2;
}
.login-close {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl);
}
.input-label4,
.input-label5 {
  position: relative;
  text-transform: capitalize;
  height: 66px;
  width: 319px;
  margin: 0 !important;
  display: flex;
  color: var(--color-black);
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: -57px;
  left: calc(50% - 159.5px);
}
.enter-input4,
.enter-input5 {
  width: 100%;
  padding: var(--padding-smi) var(--padding-xl);
  border-radius: var(--br-11xl);
  border: 0px solid var(--color-gainsboro);
  box-sizing: border-box;
  background-color: var(--color-white);
  position: relative;
  z-index: 2;
}

.enter-input4,
.input-label4 {
  position: relative;
}
.input-label4 {
  height: 66px;
  width: 319px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: calc(50% - 159.5px);
  display: flex;
  color: var(--color-black);
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.enter-input-parent2,
.input-fields-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.enter-input-parent2 {
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  justify-content: center;
  padding: var(--padding-smi) var(--padding-xl);
  position: relative;
  gap: var(--gap-3xs);
}
.input-fields-inner {
  align-self: stretch;
  height: 79px;
  justify-content: flex-start;
  padding: var(--padding-16xl) var(--padding-61xl) 0;
  z-index: 2;
}
.enter-input5,
.input-label5 {
  position: relative;
  text-transform: capitalize;
}
.input-label5 {
  height: 66px;
  width: 319px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: calc(50% - 159.5px);
  display: flex;
  color: var(--color-black);
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.enter-input-parent3 {
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-xl);
  position: relative;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.input-fields,
.input-fields-child,
.login-inputs {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-fields-child {
  height: 79px;
  flex-direction: row;
  padding: var(--padding-16xl) var(--padding-61xl) 0;
  box-sizing: border-box;
  z-index: 2;
}
.input-fields,
.login-inputs {
  flex-direction: column;
  gap: 49px;
}
.login-inputs {
  align-items: flex-end;
  gap: 114px;
}
.rectangle-div {
  height: 40.8px;
  width: 163.2px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-cornflowerblue);
  display: none;
}
.login {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  text-transform: capitalize;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  z-index: 1;
}
.login-button-container,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 9.8px var(--padding-16xl) 12.7px;
  background-color: var(--color-cornflowerblue);
  width: 163.2px;
  border-radius: var(--br-xl);
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 2;
}
.rectangle-group:hover {
  background-color: #1aa6f5;
}
.login-button-container {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
}
.input-form,
.input-form-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.input-form {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-powderblue);
  flex-direction: column;
  padding: 27px 0 57.2px;
  gap: 66px;
  z-index: 1;
}
.input-form-wrapper {
  width: 776px;
  flex-direction: row;
  padding: 0 var(--padding-18xl) 0 var(--padding-17xl);
  overflow: auto;
}
.pricewisecom4 {
  width: 775px;
  position: relative;
  font-size: var(--font-size-17xl);
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--font-junge);
  color: var(--color-black);
  display: inline-block;
  max-width: 100%;
  z-index: 2;
  margin: -475px 0 0;
}
.login-page,
.login-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
.login-view {
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background-color: var(--color-gray-100);
  align-items: center;
  padding: 242px var(--padding-xl);
  box-sizing: border-box;
  min-height: 1024px;
  max-width: 100%;
  z-index: 7;
  font-size: var(--font-size-xl);
  color: var(--color-gainsboro);
  font-family: var(--font-inter);
}
.login-page {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-start;
  gap: var(--gap-25xl);
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inria-sans);
}
@media screen and (max-width: 1850px) {
  .image-icon1 {
    flex: 1;
  }
  .dengan-pricewise-uang-anda-ke-frame {
    flex: 1;
    min-width: 100%;
  }
  .article-22 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1350px) {
  .article-22,
  .product-lists1 {
    padding-left: var(--padding-18xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .article-22 {
    padding-left: var(--padding-230xl);
    padding-right: var(--padding-237xl);
  }
}
@media screen and (max-width: 925px) {
  .coupon-list {
    flex-wrap: wrap;
  }
  .mengapa-harus-berbelanja-melal-group {
    gap: var(--gap-mini);
  }
  .promo-content-parent {
    flex-wrap: wrap;
  }
  .article-22 {
    padding-left: var(--padding-105xl);
    padding-right: var(--padding-109xl);
    box-sizing: border-box;
  }
  .input-fields-child,
  .input-fields-inner {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .input-fields {
    gap: var(--gap-5xl);
  }
  .login-inputs {
    gap: 57px;
  }
  .input-form {
    gap: 33px;
  }
  .pricewisecom4 {
    font-size: var(--font-size-10xl);
  }
  .login-page {
    gap: var(--gap-3xl);
  }
}
@media screen and (max-width: 450px) {
  .search-bar3 {
    gap: var(--gap-8xl);
  }
  .save-at-over-100000-stores-frame {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .product-lists1 {
    padding-top: var(--padding-18xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .enter-input4,
  .enter-input5,
  .input-label4,
  .input-label5,
  .mengapa-harus-berbelanja2 {
    font-size: var(--font-size-base);
  }
  .login-inputs {
    gap: 28px;
  }
  .input-form {
    gap: var(--gap-base);
  }
  .pricewisecom4 {
    font-size: var(--font-size-3xl);
  }
}
